/**
 * Created by PhpStorm.
 * User: Jay v\d Horst
 * Date: 28/04/16
 * Time: 16:08
 */

body {
    font-family: "Century Gothic";
    background-color: azure;
}

body h1 {
    font-size: 30px;
}

.none {
    background-image: url(star.png);
    display: inline-block;
    width: 32px;
    height: 32px;
}

.none:hover{
    background-image: url(star1.png);
    cursor: pointer;
}

.none span{
    background-image: url(star2.png);
    display: inline-block;
    width: 0px;
    height: 32px;
}
